/*SMARTPHONE*/
@media screen and (max-width: 320px) {
  
/*HEADING & NAV*/
header {
  background-position: center;
  box-shadow: 15px 15px 45px #888888;
  background-size: 140px;
  display:block;
  width:100%;
  text-align:center;
  padding:0;
  margin-top:-10px;
  margin-left:-10.5px;
  float:left;
}

#thick {
  font-size:1.8em;
  padding:0;
  margin: 0;
  text-align:justify;
}

#fiction {
  font-size:1.8em;
  padding: 0;
  margin: 0;
  text-align:justify;
}
  
#tag {
  font-size:1em;
  max-width:100%;
  padding: 0;
  margin: 0;
  text-align:center;
}

#nav {
  display:none;
}

#nav2 {
  visibility:visible;
  margin-left: -7px;
  max-width:100%;
}

#nav2 ul {
    font-family: 'Helvetica', 'Open Sans';
    font-size: 0.75em;
    list-style: none;
    margin: 1px -2px 1px -4px;
    padding: 3px -1px;
    float: inherit;
    text-align:left;
    clear:both;
    display:block;
}

#nav2 li {
  display: inline-block;
}

#nav2 a {
  font-weight: 800;
  padding: 7.5px 7px 0 0;
}

#nav2 a, #nav2 a:visited {
  color: white;
}

#nav2 .selected, #nav2 a:hover {
  color: gray;
}

#sidebar {
  visibility:hidden;
}


  
}

/*SLIGHTLY BIGGER SMARTPHONE*/
@media screen and (max-width: 480px) {}

/*TABLET*/
@media screen and (max-width: 800px) {

/*HEADING*/
#thick {
  display:inline-block;
  padding:1px 0 -5px 2.5px;
  margin: 10px 0 -7.5px 10px;
}

#fiction {
  display:inline-block;
  padding: 1px 0 -5px 10px;
  margin: 10px 0 -7.5px 0;
}

#tag {
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 37.5px;
  margin: .5px 0 7.5px 10px;
}
  
  
}
