/******
FONTS
*******/

@font-face {
	font-family: 'ELBOP';
	src: url('fonts/ELBOP__.otf');
	src: local('ELBOP Regular'), local('ELBOP'), url('fonts/ELBOP__.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueLTStd-55-roman.otf');
    src: local('Helvetica Regular'), local('Helvetica'), url(fonts/;HelveticaNeueLTStd-55-roman.otf) format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueLTStd-BdCn.otf');
    src: local('Helvetica Bold'), local('Helvetica'), url(fonts/;HelveticaNeueLTStd-BdCn.otf) format('opentype');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueLTStd-BdCnO.otf');
    src: local('Helvetica Regular'), local('Helvetica'), url(fonts/;HelveticaNeueLTStd-BdCnO.otf) format('opentype');
    font-weight:bold;
    font-style:italic;
}


/*******************
HEADING & NAVIGATION
********************/

header {
    padding: 5px;
    margin-bottom: 0px;
    border-style: double;
    border-width: 10px;
    border-color: white;
    box-shadow: 10px 10px 5px #888888;
    background-image: url('../img/braininspace.jpg');
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position: 97% 67%;
    background-color: #04010A;
}

#thick {
    font-family: 'ELBOP', 'Helvetica', 'Roboto';
    font-size:4.5em;
    font-weight:bolder;
    color: white;
    display:inline-block;
    padding:2px 0 -10px 5px;
    margin: 20px 0 -15px 20px;
}

#fiction {
    font-family: 'Permanent Marker', 'Helvetica', 'Robot';
    font-weight:bold;
    font-size:3.8em;
    color: white;
    display:inline-block;
    padding: 2px 0 -10px 20px;
    margin: 20px 0 -15px 0;
}

#tag {
    font-family: 'Amatic SC', 'Helvetica', 'Open Sans';
    font-size:1.7em;
    color: white;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 75px;
    margin: 1px 0 15px 20px;
}

#banner {
    float:right;
    clear:left;
}

/**********
NAVIGATION
**********/

/*HEADER NAV*/

nav ul {
    font-family: 'Helvetica', 'Open Sans';
    font-size: 0.85em;
    list-style: none;
    margin: -40px 25px 10px 780px;
    padding: 5;
    float: inherit;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 7px 0 0;
}

nav a, nav a:visited {
  color: white;
}

nav .selected, nav a:hover {
  color: gray;
}


/*SIDEBAR NAV*/

#sidebar ul {
    position: fixed;
    /*max-height: 100%;*/
    /*max-width: 35%;*/
    background-color: #04010A;
    padding-top: 13px;
    padding-right: 35px;
    margin-top: 0px;
    margin-right: 35px;
    border-style: outset;
    border-width: 3px;
    border-color: white;
    border-top: hidden;
    border-radius: 1em;
    /*border-right: hidden;*/
    border-bottom: hidden;
    box-shadow: 10px 10px 5px #888888;
}

#sidebar li {
    font-family: 'Amatic SC', 'Open Sans';
    font-weight:bold;
    font-size:2em;
    color:white;
    text-align: center;
    list-style:none;
    background-color: #04010A;
    max-width: 17%;
    padding-bottom: 12px;
}

#sidbar li.selected, #sidebar li:hover {
    text-decoration: underline;
}

#sidebar {
    float:left;
    clear:right;
    height: auto;
}


/************
BODY CONTENT
************/

#content {
    background-image: url('../img/wrinklepaperbg.jpg');
    background-repeat: repeat-y;
    box-shadow: 8px 11px 21px -8px #858585;
    float:right;
    padding: 65px 40px 100px 40px;
    margin: 60px 50px 60px 0;
    max-width: 75%;
}

.piecetitle, .fictiontitle, .poemtitle {
    font-family: 'Permanent Marker', 'Helvetica';
    /*font-weight: bolder;*/
    font-size: 3em;
    padding-top: -15px;
    margin-top: -10px;
    margin-left: 20px;
}

.byline {
    font-family: 'Amatic SC', 'Open Sans';
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -55px;
    margin-left: 45px;
    text-align: justify;
}

.piecestuffing, .fictionstuffing, .poemstuffing {
    font-family: 'Chivo', 'Helvetica', 'Roboto';
    font-size: 1.15em;
    padding: 5px;
    margin: 10px;
    text-align: justify;
    
}


/*******
FOOTER
*******/

#copy {
    font-family: 'Covered By Your Grace', 'Helvetica', 'Open Sans';
    font-weight: bold;
    font-size:1.5em;
    text-align:justify;
    float:inherit;
    clear: both;
    padding: 5px 450px 0 450px;
    margin-top: -100px;
    margin-left: 150px;
    bottom: 0;
    left: 0;
}
